/* common css  */
body {
    font-family: Poppins-Regular;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

/* fonts strat  */


/* fonts   end*/

/* common css  */

/* header start  */
.c_nav {
}
.logo {


/* header end  */
